body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-color: #121212;
}
main{
    flex: 1 0 auto;
    color: #e0e0e0;
    font-size: 16px;
}
header{
    text-align: center;
    color: #e0e0e0;
}
header img{
    margin-top: 40px;
}
header h1{
    margin: 10px 0px;
}
#quote{
    margin-top: 30px;
}
.navbar-fixed{
    position: fixed;
    top: 0;
}
header nav{
    box-shadow: none;
}
header nav ul li {
    float:none;
    display:inline-flex
}
header nav ul li a{
    font-size: 22px;
    padding: 0px 30px;
    outline: 0;
}
header nav .nav-wrapper .active-section{
    border-top: 2px solid #ffffff;
    font-weight: 500;
}
.sidenav{
    background-color: #01579b;
    /* background-color: rgba(0,0,0,0.7); */
    /* background-color: rgba(1,87,155,0.7); */
}
.sidenav li a{
    color: white;
}
.fixed-action-btn i{
    color: #01579b;
}
#profile-picture{
    height: 200px;
}
.container{
    margin: 50px auto;
}
ul.collapsible{
    background-color: white;
}
.collapsible p{
    margin: 0;
}
#skills-section ul li{
    margin-top: 20px;
}
#skills-section ul li .col{
    margin-bottom: 5px;
}
#skills-section .container{
    width: 90%;
}
#skills-section .btn{
    padding: 0;
}
#skills-section .container .row .col.s3 .btn{
    width: 130px;
}
#skills-section .container .row .col.s4 .btn{
    width: 178px;
}

#projects-section .card .card-content{
    height: 240px;
}
#projects-section .card .card-content .content-footer{
    font-size: 12px;
    margin-top: 10px;
}
#projects-section .card .card-action a{
    margin-right: 0;
    color: #01579b;
}
.progress{
    background-color: #8cccff;
}
.progress .determinate{
    background-color: #01579b;
}
#contact-section form{
    margin-top: 30px;
}
footer{
    color: #e0e0e0;
}
footer ul{
    display: inline-flex;
}
footer ul li a{
    margin: 0px 20px;
    font-size: 50px;
}
footer ul li a i{
    color: rgba(255,255,255,0.5);
    transition: 1s;
}
footer ul li a i:hover{
    color: rgba(255,255,255,1);
    transition: color 500ms;
}
.page-footer{
    padding: 0;
}
footer .container{
    margin: 20px auto;
}
footer .footer-copyright .container{
    margin: 0px auto;
}
.btn{
    background-color: #01579b;
}
.btn:hover, .btn:focus{
    background-color:#e0e0e0;
    color: black;
}
.input-field label {
    color: #e0e0e0;
}
.input-field .prefix.active{
    color: #039be5 ;
}
input[type="text"]:not(.browser-default):focus:not([readonly]) + label{
    color: #039be5 ;
}

input[type='text']:not(.browser-default):focus:not([readonly]) + label, input[type='email']:not(.browser-default):focus:not([readonly]) + label, textarea:not(.browser-default):focus:not([readonly]) + label{
	color: #039be5 ;
}
input[type='text'].valid:not(.browser-default), input[type='email'].valid:not(.browser-default), textarea.valid:not(.browser-default) {
	border-bottom: 1px solid #039be5 ; 
	box-shadow: 0 1px 0 0 #039be5 ;
}
input[type='text']:not(.browser-default):focus:not([readonly]), input[type='email']:not(.browser-default):focus:not([readonly]), textarea:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #039be5 ;
	box-shadow: 0 1px 0 0 #039be5 ;
}