body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-color: #121212;
}
main{
    flex: 1 0 auto;
    /* height: 100vh; */
    color: #e0e0e0;
}
header{
    text-align: center;
    color: #e0e0e0;
}
header nav{
    margin-top: 30px;
    box-shadow: none;
}
header nav ul li {
    float:none;
    display:inline-flex
}
header nav ul li a{
    font-size: 22px;
    padding: 0px 30px;
}
.active-section{
    border-top: 2px solid #ffffff;
    font-weight: 500;
}
.sidenav{
    /* background-color: #01579b; */
    background-color: rgba(0,0,0,0.7);
    /* background-color: rgba(1,87,155,0.7); */
}
.sidenav li a{
    color: white;
}
#profile-picture{
    height: 200px;
}
.container{
    margin: 50px auto;
}
ul.collapsible{
    background-color: white;
}
#projects-section .card .card-content{
    height: 180px;
}
#projects-section .card .card-content .content-footer{
    font-size: 12px;
    margin-top: 10px;
}
#projects-section .card .card-action a{
    margin-right: 0;
    color: #01579b;
}
.progress{
    background-color: #8cccff;
}
.progress .determinate{
    background-color: #01579b;
}