body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-color: #121212;
}
main{
    flex: 1 0 auto;
    color: #e0e0e0;
}
header{
    text-align: center;
    color: #e0e0e0;
}
header img{
    margin-top: 40px;
}
header h1{
    margin: 10px 0px;
}
#quote{
    margin-top: 30px;
}
header nav{
    box-shadow: none;
}
header nav ul li {
    float:none;
    display:inline-flex
}
header nav ul li a{
    font-size: 22px;
    padding: 0px 30px;
}
.active-section{
    border-top: 2px solid #ffffff;
    font-weight: 500;
}
.sidenav{
    /* background-color: #01579b; */
    background-color: rgba(0,0,0,0.7);
    /* background-color: rgba(1,87,155,0.7); */
}
.sidenav li a{
    color: white;
}
.fixed-action-btn i{
    color: #01579b;
}
#profile-picture{
    height: 200px;
}
.container{
    margin: 50px auto;
}
ul.collapsible{
    background-color: white;
}
.collapsible p{
    margin: 0;
}
#projects-section .card .card-content{
    height: 180px;
}
#projects-section .card .card-content .content-footer{
    font-size: 12px;
    margin-top: 10px;
}
#projects-section .card .card-action a{
    margin-right: 0;
    color: #01579b;
}
.progress{
    background-color: #8cccff;
}
.progress .determinate{
    background-color: #01579b;
}
footer{
    color: #e0e0e0;
}
footer ul{
    display: inline-flex;
}
footer ul li a{
    margin: 0px 20px;
    font-size: 50px;
}
footer ul li a i{
    color: rgba(255,255,255,0.5);
    transition: 1s;
}
footer ul li a i:hover{
    color: rgba(255,255,255,1);
    transition: color 500ms;
}
.page-footer{
    padding: 0;
}
footer .container{
    margin: 20px auto;
}
footer .footer-copyright .container{
    margin: 0px auto;
}