/* Materialize Mobile Devices <= 600px */
@media only screen and (min-width: 320px) and (max-width: 414px){
    main{
        font-size: 12px;
    }
    footer ul li a{
        margin: 0px 10px;
        font-size: 35px;
    }
    #projects-section .card .card-content{
        height: 190px;
    }
    #projects-section .card .card-content .content-footer{
        font-size: 10px;
        margin-top: 10px;
    }
    #skills-section .btn{
        font-size: 9px;
        width: 120px;
    }
}
@media only screen and (min-width: 415px) and (max-width: 600px){
    main{
        font-size: 14px;
    }
    footer ul li a{
        margin: 0px 15px;
        font-size: 40px;
    }
}

/* Materialize Tablet Devices > 600px */
@media only screen and (min-width: 601px) and (max-width: 992px){
    #projects-section .card .card-content{
        height: 200px;
    }
}

/* Materialize Desktop Devices > 992px */
@media only screen and (min-width: 993px) and (max-width: 1200px){
    #projects-section .card .card-content{
        height: 240px;
        font-size: 14px;
    }
}

/* Materialize Large Desktop Devices > 1200px */
@media only screen and (min-width: 1201px) and (max-width: 1279px){
    #projects-section .card .card-content{
        height: 300px;
        font-size: 14px;
    }
    #skills-section .btn{
        font-size: 10px;
        width: 120px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px){
    #projects-section .card .card-content{
        height: 300px;
        font-size: 14px;
    }
    #skills-section .btn{
        font-size: 10px;
        width: 120px;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1499px){
    #projects-section .card .card-content{
        height: 300px;
        font-size: 14px;
    }
    #skills-section .btn{
        font-size: 12px;
        width: 130px;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1719px){
    #projects-section .card .card-content{
        height: 270px;
    }
}
@media only screen and (min-width: 1720px) and (max-width: 1919px){
}